@import 'src/shared/css/_variables';

#osms-lib {
  div.card-container__data-view {
    overflow-y: auto;
    background-color: $gray;
    div.p-dataview-content {
      padding: 0 !important;
    }
  }

  .project .card-container__data-view ,
  .category .card-container__data-view {
    height: 100%;
  }
}

