@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./primeicons.ttf) format('truetype')
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./primeicons.woff) format('woff')
}