#projects-gallery {
  background-color: $bg;
}

#app__ {
  &filter-menu > div {
    height: calc(100vh - 150px);
    overflow-y: auto;
    padding-bottom: 20px;
  }
  &card-container {
    height: calc(100vh - 150px);
    overflow-y: auto;
  }  
  &detail-window-container {
    height: calc(100vh - 150px);
    & > div.p-sidebar {
      height: 100%;
    }
  }
}
