#osms-lib {
  .mobile.library-main-container {
    display: flex;
    flex-direction: column;
  }
  .desktop.library-main-container {
    // all of this bc of the filter menu pushing in vs sliding on top
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto auto;
  
    .filter-menu-container {
      grid-column: 1 / 3;
      grid-row: 1;
      margin-bottom: 1rem;
    }
  
    &__grid {
      &__menu-closed {
        .card-container__data-view {
          grid-column: 1 / 3;
          grid-row: 2;
        }
      }
      &__menu-open {
        .p-sidebar-md.p-sidebar-left.p-sidebar-active {
          grid-column: 1;
          grid-row: 2;
        }
        .card-container_data-view {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }
  }
}