#categories-gallery {
  max-width: 98%;
  margin: 0 auto;
}

#app__ {
  &left-column {
    height: calc(100vh - 150px);
    overflow-y: auto;
  }
  &detail-window {
    height: calc(100vh - 150px);
  }
}
