.library-main-container {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 48px auto;

  .filter-menu-container {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  &__grid {
    &__menu-closed {
      .card-container__data-view {
        grid-column: 1 / 3;
        grid-row: 2;
      }
    }
    &__menu-open {
      .p-sidebar-md.p-sidebar-left.p-sidebar-active {
        grid-column: 1;
        grid-row: 2;
      }
      .card-container_data-view {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
  
}