@mixin clamp-n($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  word-break: break-word;
}

@mixin tileCardFonts($header: 21px, $subHeader: 16.38px, $headerWeight: 700, $subHeaderWeight: 700) {
  .tile-card {
    &__header {
      font-size: $header;
      font-weight: $headerWeight;
      text-align: center;
    }
    
    &__sub-header {
      font-size: $subHeader;
      font-weight: $subHeaderWeight;
    }
  }
}

$btn-dm: 3rem;
@mixin btn-sq {
  min-height: $btn-dm !important;
  height: $btn-dm !important;
  min-width: $btn-dm !important;
}
@mixin btn-rec {
  min-height: $btn-dm !important;
  height: $btn-dm !important;
}