.mobile-button {
  &__square {
    min-height: 3rem !important;
    height: 3rem !important;
    min-width: 3rem !important;
  }

  &__rec {
    min-height: 3rem !important;
    height: 3rem !important;
  }
}