// prime overrides / customization
.p-datascroller-list {
  list-style: none;
}

.p-sidebar:not(.p-sidebar-active) {
  display: none;
}

.p-tree {
  max-height: 80vh;
  overflow: auto;
}

.p-panel .p-dataview-content,
div.p-dataview .p-dataview-content {
  padding: 0.571em 0.25em !important;
}

div.p-dataview.p-component.p-dataview-grid > div.p-dataview-content {
  border: none;
  background-color: transparent;
}

.filter-panel {
  &.p-panel .p-panel-content {
    padding: 0;
    border: none;

    .p-tree {
      border: none;
      width: 100%;
      padding: 0.571em 0;
    }
  }

  .p-toggleable-content {
    max-height: 40vh;
    overflow-y: auto;
  }
}

.attribute-list-panel div.p-panel-content {
  padding: 0;
}

div.p-grid, .p-dataview.p-component.p-dataview-grid {
  width: 100%;
}

.p-grid {
  margin: 0 !important;
}

.p-sidebar-custom {
  position: relative !important;
  height: 100vh;
  width: calc(100% - 0.5rem) !important;
}

.p-sidebar-right-custom {
  margin-left: 0.5rem !important;
}
.p-sidebar-left-custom {
  margin-right: 0.5rem !important;
}

.p-sidebar-left.p-sidebar-lg,
.p-sidebar-right.p-sidebar-lg {
  // from https://www.primefaces.org/primereact/showcase/#/flexgrid
  @media screen and (max-width: 999px) {
    width: 100% !important;
  }
  @media screen and (min-width: 1000px) {
    width: 60rem !important;
  }
}

.p-card img, .p-card div.center-flex  {
  margin-top: 2px;
}

// bc they don't include p-tag ?? no idea
.p-tag {
  background: $blue;
  padding: 0.25rem 0.4rem;
  border-radius: 3px;

  span, i {
    color: $white;
    font-size: 0.75rem;
    font-weight: 700;
  }

  &-success {
    background-color: $success;
    color: $white;
  }
  &-info {
    background-color: $blue;
    color: $white;
  }
  &-warning {
    background-color: $accent;
    color: $text;
  }
  &-danger {
    background-color: $danger;
    color: $white;
  }
}