
.search-bar-wrapper {
  // &.sticky-top-0 {
  //   z-index: 100;
  //   background-color: $gray;
  //   padding-bottom: 0.5rem;
  //   margin-bottom: -0.5rem;
  // }

  // .mobile-button__square {
  //   flex: 1;
  // }

  .library-selector {
    margin-right: 0.5rem;
  }

  #search-bar-container {
    margin-right: 0.5rem;
    height: 31px;
    width: 100%;

  }
  #searchBar {
    height: 32.6px;
  }
}

.mobile-search-bar#search-bar-container #searchBar {
  height: 3rem;
}
