
.button-no-style {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.button-link-style {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: underline;
  background: none;
  cursor: pointer;
  
  color: $primary;
  > * {
    color: $primary;
  }

  &:hover {
    color: $accent !important;
    text-decoration: none !important;
    background: none;
  }
}

.clamp-1 {
  @include clamp-n(1);
}
.clamp-2{
  @include clamp-n(2);
  height: 3.3em;
  margin-bottom: 0 !important;
}

.divider-1 {
  margin-bottom: 1rem;
}
.divider-2 {
  margin-bottom: 2rem;
}

.sticky-top-0 {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.markdown-section ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.margin-z-auto {
  margin: 0 auto !important;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.card-selected {
  box-shadow: inset 0px 0px 0px 2px $primary !important;
}

.centered-image {
  // be sure to add a height attr to the element;
  object-fit: scale-down;
  object-position: center;
  width: 100%;
}

.p-sidebar-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  
  span.p-sidebar-close-icon.pi.pi-times {
    padding: 0.5rem !important;
    background: $primary !important;
    border-radius: 4px !important;
    color: white;

    &:hover {
      opacity: 0.5;
    }
  }
}

div.fullcard-carousel-cards {
  @include tileCardFonts(12px);

  margin: 0 0.5rem;
  box-shadow: none;
}

.card-header{
  &__image {
    height: 150px;
  }
  &__no-image {
    height: 152px;
  }
}

$new-updated-max: 100px;
.new-updated-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem;
  max-width: $new-updated-max;
  max-height: $new-updated-max;
}

.grayscale:not(.card-selected):not(.fullcard-carousel-cards) .centered-image {
  -webkit-filter: grayscale(0.75); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0.75); /* Microsoft Edge and Firefox 35+ */

  &:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }
}

.library-container {
  display: flex;
  background-color: $gray;
}

.button__ {
  &square {
    @include btn-sq;
  }
  &rec {
    @include btn-rec;
  }
}

.scroll-to-top {
  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 1rem;
  -webkit-transition: opacity 250ms ease-in-out !important;
  transition: opacity 250ms ease-in-out !important;
}

.markdown-section {
  ul, li, ol {
    list-style: inside disc !important;
  }
}

.disabled-button {
  opacity: 1;

  &__true {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.p-selectbutton .p-button.p-highlight span {
  color: $white;
}

.pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}