.category-list-card {
  img.card-header__image, div.card-header__no-image {
    height: 75px;
  }
}

.highlight-child > div {
  background-color: #007ad9;
  border-color: #007ad9;
  color: #ffffff;
}
