@import '../../css/variables';

.category-list-card {
  img.card-header__image, div.card-header__no-image {
    height: 75px;
  }
}

.highlight-child > div {
  background-color: $blue;
  border-color: $blue;
  color: #ffffff;
}
