.filter-menu__grid-{
  &select {
    align-self: center;
    justify-self: center;
  }
}

.grid-area {
  display: grid;
  grid-gap: 0.5rem;

  grid-template-columns: 48px 182px auto 48px;

  .filter-menu__grid-{
    &button {
      &:first-of-type {
        grid-column: 1;
      }
      &:nth-of-type(2) {
        grid-column: 4;
      }
    }

    &select {
      grid-column: 2;
    }
    &search {
      grid-column: 3;
    }
  }
}

.grid-area-mobile {
  display: grid;
  grid-gap: 0.5rem;

  grid-template-columns: 48px 1fr 48px;
  grid-template-rows: 48px;

  .filter-menu__grid-{
    &button {
      &:first-of-type {
        grid-row: 2;
        grid-column: 1;
      }
      &:nth-of-type(2) {
        grid-row: 2;
        grid-column: 3;
      }
    }

    &select {
      grid-row: 1;
      grid-column: 1 / 4; // should be 3 but doesn't center properly...?
    }
    &search {
      grid-row: 2;
      grid-column: 2;
    }
  }
}
